/*顶部搜索*/
#top{
	background: #ff6000;
	width: 100%;
	overflow: hidden;
	/*父元素被撑开*/
	padding-top: 2%;
	padding-bottom: 2%;
	display: flex;
	align-items: center;
	/*设置子元素水平对齐*/
}
.tao{
	float: left;
	font-size: 7vw;
	margin-left: 2%;
}
#top .search{
	float: left;
	width: 87%;
	display: block;
	margin-left: 2%;
	text-align: center;
	line-height: 1.8em;
	background-color: #b52600;
	font-size: 4vw;
	border-radius: 50px;
	text-decoration: none;
	color: #F0e0dc;
	font-family: "微软雅黑";	
}
/*顶部搜索结束*/

.flash{
	width: 100%;
}
   		
.swiper-slide img{
	width: 100%;
}
.nav{
	list-style: none;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}
.nav li{
	float: left;
	width: 18%;
	margin: 0 1%;
	margin-top: 2%;
	
}
.nav img{
	width: 100%;
	cursor: hand;
}
.nav li p{
	font:4vw '微软雅黑' ;
	text-align: center;
	color:#7C7E72 ;
	line-height: 2em;
}

#first_new{
	width: 100%;
	display: flex;
	align-items: center;
}
#first_new img{
	margin-top: 2%;
	margin-left: 1%;
	width: 20%;
	padding-right: 2%;
	border-right: 1px solid #F4F4F4;
}
#first_new span{
	font:4vw '微软雅黑' ;
	border: 1px solid rgb(216, 20, 33);
	padding: 0.5%;
	border-radius: 20%;
	margin-top: 1%;
	color: rgb(216, 20, 33);
}
#first_new a{
	font:4vw '微软雅黑' ;	
	color: #000000;
	text-indent: 0.5em;
	margin-top: 1%;
	text-decoration: none;
}
