body{
	background:url(../img/polo361.png) repeat-x;
}
.clearfix:after,.clearfix:before{
	content: "";
	clear: both;
	display: table;
}
.w{
	width: 940px;
	margin: 0 auto;	
	}
.header{
	padding-top: 37px;
	padding-bottom: 46px;
	/*background-color: yellow;*/
	}
.logo{
	margin-left: 22px;
	}
.nav{
	float: right;
	margin-top: 22px;
	/*background-color: blue;*/
	text-align: center;
	
	}
li{
	float: left;
	padding: 0 10px 8px;
	border-left: dotted 1px #b7b7b7;	

	
	}
li a{
	font:bold 14px Georgia ;
	text-decoration: none;
	color:#666666 ;


	}
li a:hover{
	color: #bab6b6;
}
.nav p{
	font:  11px Tahoma;
	color: #b7b7b7;
}
.banner{
	position: relative;
	background: url(../img/banner/banner-2.png) bottom center no-repeat;
	height: 356px;
	/*设置块元素高度,再设置图片至底部*/
}
.point{
	position: absolute;
	top: 314px;
	left: 18px;

}
.point a{
	width: 20px;
	height: 20px;
	background: url(../img/banner/banner-3.png) no-repeat;
	float: left;
	margin-left: 3px;
	/*float使元素成为块元素*/
}
.point a:hover{
	background: url(../img/banner/banner-3.1.png) no-repeat;
}
/*banner下阴影的另一种设计方法*/
/*.bn2{

	position: absolute;
	top: 342px;
	left: 0px;
	background-repeat: no-repeat;	
}*/
.content h1{
	font:bold 24px Georgia;
	text-align: center;
	padding-bottom:18px;
	background: url(../img/bg2.png) bottom center no-repeat;
}

.c1,.c2,.c3,.c4,.c5,.c6{
	width: 294px;
	/*background-color: yellow;*/
	float: left;	
}
.c2,.c5{
	margin: 0 27px;
}
.pic h2{
	font:21px Georgia;
	color: #11719e;
	margin-top: 38px;
	
}
.pic h3{
	font:14px Times New roman;
	color: #8c8c8c;
}
.bg3{
	background: url(../img/bg3-1.png) no-repeat;
	/*width: 295px;*/
	height: 200px;
	text-align: center;
	padding-top: 12px;
	margin-top: 12px;
	
}
.pic p{
	font:13px/15px "微软雅黑";
	margin: 0 5px;
	height:80px ;


}
.bg3-3{
	background: url(../img/bg3-3.png) no-repeat;
	display: block;
	width: 165px;
	height: 40px;
	text-indent: 1em;
	/*background-color: #11719E;*/
	color:#016999;
	text-decoration: none;
	font: 15px/40px "微软雅黑";
	margin-bottom: 20px;
	margin-top: 15px;
}
.contact{
	background: url(../img/bg2.png) top center no-repeat;
	padding-top: 40px;
}
.c5 h1,.c4 h1,.c6 h1{
	
	font: 18px Georgia;
	color: #444;
	padding-bottom: 10px;
	border-bottom:1px dotted  #d3d3d3;
}
.c5 .txt,.c4 input{
	width: 276px;
	height: 31px;
	background: url(../img/txt.png) no-repeat;
	_background-attachment: fixed;
	border: none;
	margin-top: 18px;
	padding-left: 10px;
	
	padding-right: 10px;
	line-height: 31px;
}
.c5 .txta{
	width: 276px;
	height: 115px;
	background: url(../img/txta.png) no-repeat;
	border: none;
	margin-top: 17px;
	padding:10px;
	overflow: auto;
	resize: none;
	/*去掉文本域调整大小*/
	_background-attachment: fixed;
	margin-bottom: -1px;
	/*去掉文本域调整大小*/
}
.bt{
	background: url(../img/sd.png) no-repeat;
	width: 163px;
	height: 32px;
	border: none;
	margin-top: 10px;
	text-indent: 1em;
	text-align: left;
	line-height: 32px;
	cursor: pointer;

	
	/*设置hover指针*/	
}
.c6 .bt{
	_margin-left: -1em;
	
}
.c4 p{
	font:14px/1 Times New Roman;
	color: #444444;
	padding: 20px 0 5px;

}
.c4 img{
	float: left;
}
.c4 .hs{
	font-weight: bold;
	padding-top:66px;
	_padding-top:48px;
}
.c6 img{
	float: left;
	margin-right:10px;
}
.c6 p{
	margin-top: 16px;
	font: 12px/1 "微软雅黑";
	/*height: 55px;*/
	border-bottom:1px dotted  #d3d3d3;
	padding-bottom: 13px;
	_padding-bottom: 12px;
}
.footer{
	height: 172px;
	border-top: 9px solid #4c4c4c;
	background-color:#333 ;
	font:12px "微软雅黑";
	color: #606060;
	margin-top: 22px;
}
.footer p{
	margin-top: 8px;
}
.footer p:hover{
	color: #aba8a8;
}
span:hover{
	color: #aba8a8;
}
.p4{
	float: right;
	display: block;
}

